<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>The Chatroom</title>
    <meta name="description" content="Twitter Analyzer">
    <meta name="author" content="Tobin Leung">

    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="/chat.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    <div id="background">
    <center><div id="title"> Welcome To TobChat</div></center>
      <center><div id="description"> No Math Allowed!</div></center>
            <center><div id="new_messages"> </div> 
              <div id="message_entry">
                Message:<br>
                <input autofocus id="input_message" type="text" name="message">
                <br>
                <button id="submit" > Submit </button>
              </div>
            </center>
        <hr class="f"> 
        <center><div class="footer">
              <a href="https://www.instagram.com/tobinleung/?hl=en"><img src="https://mpng.pngfly.com/20180705/fai/kisspng-instagram-logo-computer-icons-insta-logo-5b3dd0b627ad89.2825955615307777821625.jpg" title="Instagram" id="Instagram" ></a>
              © 2019 <a href="https://limitless-bastion-73253.herokuapp.com/">Tobin Leung. </a> Made in YVR
              </div></center>
        </div>
  </body>
</html>